/* Define the custom font */
@font-face {
    font-family: 'HelveticaNeue';
    src: url('HelveticaNeue.woff2') format('woff2'),
         url('HelveticaNeue.woff') format('woff'),
         url('HelveticaNeue.ttf') format('truetype');
    font-weight: 1 1000;
    font-style: normal;
}

/* Apply the custom font to the body */
body {
    margin: 0;
    padding: 0;
    font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
    background-color: #fff; /* Light background as default */
    color: #000; /* Dark text as default */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition: background-color 0.3s, color 0.3s;
    scroll-behavior: smooth;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin-bottom: 50px;
    text-align: center;
}

.name-and-image {
    font-size: 5rem; /* Large bold font */
    font-weight: bold;
    margin: 0;
    background: linear-gradient(45deg, #ff00cc, #3333ff); /* Gradient colors */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.subtitle {
    font-size: 1.2rem; /* Smaller text for subtitle */
    margin: 10px 0;
    color: #000; /* Dark text for subtitle */
}

.text-content p {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-top: 20px;
    transition: opacity 1s;
}

/* Styling for rounded buttons */
button {
    background: linear-gradient(45deg, #ff00cc, #3333ff); /* Default gradient background */
    border: none;
    color: #fff; /* White text */
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 50px; /* Ensure rounded corners */
    transition: transform 0.3s ease, color 0.3s ease, background 0.3s ease; /* Smooth transition */
}

button:hover {
    transform: scale(1.1);
}

/* Specific styling for contact button */
#contact-button {
    background: linear-gradient(45deg, #00ff00, #008000); /* Green gradient */
}

#contact-button:hover {
    background: linear-gradient(45deg, #00ff00, #008000); /* Maintain green gradient on hover */
}

/* Specific styling for showcase button */
#showcase-button {
    background: linear-gradient(45deg, #00c6ff, #0072ff); /* Blue gradient */
}

#showcase-button:hover {
    background: linear-gradient(45deg, #00c6ff, #0072ff); /* Maintain blue gradient on hover */
}



.separator {
    width: 100%;
    border: 0;
    border-top: 1px solid #636363;
    margin: 30px 0;
}

.options-section {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.options-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    text-align: center;
}

.need-text {
    font-size: 1.8rem;
    font-weight: bold;
    color: #000;
    margin-right: 20px;
}

.options-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
}

.options-content .option {
    font-size: 1.2rem;
    margin: 10px 0;
    cursor: pointer;
    transition: color 0.3s, transform 0.3s, border-bottom 0.3s;
    text-decoration: none;
    background: linear-gradient(45deg, #ff00cc, #3333ff); /* Gradient colors */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    border-bottom: 1px solid transparent;
}

.options-content .option:hover {
    transform: scale(1.2);
    border-bottom: 1px solid #000;
}

.options-content .option.selected {
    color: #0056b3;
    font-weight: bold;
}

.option-heading {
    font-size: 1.4rem;
    font-weight: bold;
}

.option-description {
    margin-top: 30px;
    font-size: 1rem;
    text-align: left;
    max-width: 600px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1); /* Light transparent background */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.option-description.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Light/Dark mode switch */
.mode-switch {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 1.5rem;
}

/* Dark mode specific styles */
body.dark-mode {
    background-color: #000; /* Dark background */
    color: #fff; /* Light text */
}

body.dark-mode .subtitle,
body.dark-mode .need-text {
    color: #fff; /* Light text for subtitle and need-text */
}

body.dark-mode button {
    color: #fff; /* Light text for buttons */
    border-color: #fff; /* Light border for buttons */
}

body.dark-mode button:hover {
    transform: scale(1.05);
}

body.dark-mode .options-content .option {
    border-bottom: 1px solid transparent;
}

body.dark-mode .options-content .option:hover {
    border-bottom: 1px solid #fff;
}

/* Media Queries for Responsiveness */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 600px) {
    body {
        padding: 20px;
    }

    .container {
        padding: 10px;
        margin-bottom: 20px;
    }

    .name-and-image {
        font-size: 3rem; /* Adjust font size for mobile */
    }

    .subtitle {
        font-size: 1rem; /* Adjust font size for mobile */
    }

    .text-content p {
        font-size: 1rem;
        padding: 10px 20px;
    }

    .options-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .need-text {
        margin-right: 0;
        margin-bottom: 10px;
        font-size: 1.5rem;
    }

    .options-content {
        align-items: center;
    }

    .options-content .option {
        font-size: 1rem;
    }

    .option-description {
        font-size: 0.9rem;
        padding: 15px;
    }

    .text-content {
        margin-top: 80px; /* Adjusted for mobile */
    }
}

/* Tablets (portrait and landscape) ----------- */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    .container {
        padding: 20px;
    }

    .name-and-image {
        font-size: 4rem; /* Adjust font size for tablets */
    }

    .subtitle {
        font-size: 1.1rem; /* Adjust font size for tablets */
    }

    .text-content p {
        font-size: 1.1rem;
        padding: 12px 25px;
    }

    .options-wrapper {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .need-text {
        font-size: 1.6rem;
    }

    .options-content {
        align-items: flex-start;
    }

    .options-content .option {
        font-size: 1.2rem;
    }

    .option-description {
        font-size: 1rem;
        padding: 20px;
    }

    .text-content {
        margin-top: 70px; /* Adjusted for tablets */
    }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 769px) {
    .container {
        padding: 30px;
    }

    .name-and-image {
        font-size: 5rem; /* Larger font size for desktops */
    }

    .subtitle {
        font-size: 1.2rem; /* Adjust font size for desktops */
    }

    .text-content p {
        font-size: 1.2rem;
        padding: 15px 30px;
    }

    .options-wrapper {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .need-text {
        font-size: 1.8rem;
    }

    .options-content {
        align-items: flex-start;
    }

    .options-content .option {
        font-size: 1.3rem;
    }

    .option-description {
        font-size: 1rem;
        padding: 25px;
    }
}

/* Fade-out animation */
.fade-out {
    animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
